<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 video" ng-repeat="video in videos"
     ng-show="filter === 'all' || filter === 'videos'">
    <a class="thumbnail" ng-class="{'playing-video': video.play, 'inactive': !video.play}"
       ng-click="togglePlay(video, 'vid' + $index)">
        <div class=" embed-responsive embed-responsive-4by3 ">
            <video preload="auto" class="embed-responsive-item" ng-src="{{::video.previewUrl | trustedUrl}} "
                   id="vid{{::$index}}" ui-event="{ ended : 'togglePlay(video, \'vid{{$index}}\')' }"></video>
        </div>
        <h5 ng-hide="video.play">{{::video.trackName | limitTo: 22}}</h5>
        <span class="badge " uib-popover="Explicit " popover-trigger=" 'mouseenter' "
              ng-if="video.contentAdvisoryRating==='Explicit' || video.explicitness==='Explicit' "><small>M</small></span>
    </a>
</div>