<div class="col-xs-3 suggested-song" ng-repeat="song in suggestions"  ng-class="{'suggested-playing': song.play}">
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <img ng-src="{{::song.artworkUrl100}}" alt="album artwork"  ng-click="togglePlay(song, 'suggest' + $index)" >
        </div>

        <div class="col-md-7 col-lg-8 hidden-sm hidden-xs suggested-song-info">
            <span><b><small>{{::song.artistName | limitTo: 17}}</small></b></span>
            <p>{{::song.trackName | limitTo: 17}}</p>
            <div class="pull-right">
                <i class="fa" ng-class="{'fa-play': !song.play, 'fa-pause': song.play}" ng-click="togglePlay(song, 'suggest' + $index)"></i>
            </div>
            <audio ng-src="{{::song.previewUrl | trustedUrl}}" id="suggest{{::$index}}" ui-event="{ ended : 'togglePlay(song, \'suggest{{$index}}\')' }"></audio>
        </div>
    </div>
</div>