<div class="container info">
    <div class="row">
        <h1 class="text-center title">Muzik</h1>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <p class="lead">
                Muzik encourages people to listen to new music and explore new genres.
            </p>
            <br>
            <p class="lead">
                After a few searches Muzik will suggest new songs within the same genre for you to listen to.
            </p>
            <br>
            <p class="lead text-justify">
                If you're feeling adventurous, turn off the same genre suggestions in your <a
                    href="#/profile">profile</a> page. Muzik will then only
                suggest new songs from a different genre.
            </p>
            <br>
            <p class="lead text-justify">
                Worried about how we're using your email address? Check out our <a href="#/privacy">privacy
                statement</a>. I think you'll find it pretty straightforward and direct.
            </p>
        </div>
    </div>
</div>