<div class="modal-header text-center">
    <p class="lead">
        Muzik encourages you to try listening to something new!
    </p>
</div>
<div class="modal-body text-center" id="modal-body">
    <p class="lead">
        Sign in to "favorite" your favorite snippets!
    </p>
    <div class="text-center">
        <a href="/auth/google" class="btn btn-primary google"><i class="fa fa-google-plus"></i>sign in with google</a>
        <a href="/auth/twitter" class="btn btn-primary twitter"><i class="fa fa-twitter"></i>sign in with twitter</a>
        <a href="/auth/facebook" class="btn btn-primary facebook"><i class="fa fa-facebook"></i>sign in with facebook</a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="mainCtrl.ok()">No thanks</button>
</div>